.course-content-block .course-section-block .course-section-header-block {
    /*background-color: #2196F3 !important;*/      /* Uncomment if you want to use your own color */
    background-color: var(--secondary);            /* Comment if you want to use your own color */
    padding: 15px;
    border-radius: 5px;
}

details {
    margin-top: 15px;
    margin-bottom: 15px;
}

#custom-modal-content {
    min-width: 680px;
}

@media (min-width: 576px) {
    #custom-modal {
        max-width: 680px;
        margin: 1.75rem auto;
    }
}
  
.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    max-width: 320px;
    margin-top: 0;
    margin-bottom: .5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    color: black;

    &:hover {
        color: black;
    }
}

.course-content-block {
    display: flex;
    align-items: center;
}

.btn-modal-training {
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

.img-description {
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.25);
    }
}

.h-4-5-training {
    margin: 0;
}

.blue {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: inline-block;
}

.green {
    color: rgb(39, 192, 39);
}

.path {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.path-1 {
    margin-left: 20px;
    margin-top: 5px;
}

.path-2 {
    margin-left: 40px;
    margin-top: 5px;
}

.path-3 {
    margin-left: 60px;
    margin-top: 5px;
}

.first-level {
    font-size: 18px;
    margin-top: 15px;
}

hr {
    border-bottom: 6px solid #e9ecef;
}

.training-title-elements {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.semester-elements {
    display: flex;
    align-items: center;
    gap: 10px;
}

.training-no-courses {
    text-align: center;
    margin-top: 15px;
}

/* Display context*/

.course-context {
    font-size: .9375rem;
}

.first-level-margin {
    margin-top: 15px;
}

.dashboard-context {
    font-size: 18px;
}

.training-title-elements-course {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

/* Courses */ 

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.frontpage-course-box {
    border: 1px solid #e9ecef;
    border-radius: 10px;
    margin-bottom: 25px;
}

.frontpage-course-box .course-item {
    border-radius: 10px;
    position: relative;
    padding: 12px 10px 6px;
    transition: all .5s ease;
    background: #fff;
    backdrop-filter: blur(17px);
}

.frontpage-course-box .course-item .course-item-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto 14px;
}

.frontpage-course-box .course-item .course-item-img a {
    width: 100%;
    display: block;
    padding-top: 40%;
    background-size: cover;
    background-position: center;
}

/* Switch semester */

label {
    margin-bottom: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Responsive */

@media(max-width: 1380px){
    .training-title-elements {
        display: flex;
        flex-direction: column!important;
        gap: 15px!important;
    }
}

@media(min-width: 500px){
    .course-box{
        width:100%;
    }
}

@media(min-width: 800px){
    .course-box{
        width:calc(25% - 14px);
        margin:0 6px;
    }
}

@media(min-width: 1040px){
    .course-box{
        width:calc(33% - 14px);
        margin:0 6px;
    }
}

@media(min-width: 1210px){
    .course-box{
        width:calc(25% - 14px);
        margin:0 6px;
    }
}

@media(min-width: 1560px){
    .course-box{
        width:calc(20% - 10px);
        margin:0 4px;
    }
}

@media(min-width: 2060px){
    .course-box{
        width:calc(16% - 10px);
        margin:0 4px;
    }
}