{{! Template for training architecture block }}

{{#has_courses}}
  {{#courses_not_in_architecture}}
    <div class="not-in-architecture">
      {{.}}
    </div>
  {{/courses_not_in_architecture}}

  {{#context_course}}
    <hr>
    <div class="path">{{#str}}path, block_training_architecture{{/str}}</div>
    <div class="path">{{course_name}}</div>
  {{/context_course}}
{{/has_courses}}

{{#trainings}}
  <hr>
  <div class="{{training_class}}">
    <{{header_tag}} class="h-4-5-training">
      {{#str}}training, block_training_architecture{{/str}}{{training_name}} ({{cohort_name}})
    </{{header_tag}}>

    {{#training_description}}
      <div class="training-description">
        {{{training_description_modal}}}
      </div>
    {{/training_description}}

    {{#is_semester}}
      <div class="semester-elements">
        <span class="{{span_class}}">{{#str}}view_by_semester, block_training_architecture{{/str}}</span>
        <label class="switch">
          <input id="switch-{{training_id}}" type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
    {{/is_semester}}
  </div>

  {{#is_semester}}
    <div id="semester-levels-semester-{{training_id}}">
      {{#semesters}}
        {{{.}}} {{! Already-rendered HTML for semester levels }}
      {{/semesters}}
    </div>
    <div class="semester-levels" id="semester-levels-{{training_id}}">
      {{#non_semester_levels}}
        {{{.}}}
      {{/non_semester_levels}}
    </div>
  {{/is_semester}}

  {{^is_semester}}
    <div>
      {{#non_semester_levels}}
        {{{.}}}
      {{/non_semester_levels}}
    </div>
  {{/is_semester}}

{{/trainings}}

{{^trainings}}
  <div class="training-no-courses">{{#str}}training_no_courses, block_training_architecture{{/str}}</div>
{{/trainings}}

<div class="footer">
  <a href="{{all_courses_url}}">{{#str}}footer, block_training_architecture{{/str}}</a> ...
</div>
