<div class="blocktrainingarchitecture-course-context">
    <a class="blocktrainingarchitecture-blue" href="{{course_url}}">
        {{#is_current_course}}
            {{#actual_course_icon}}{{{actual_course_icon}}}{{/actual_course_icon}}
        {{/is_current_course}}
        {{{course_icon}}}
        {{course_name}}
    </a>
</div>
