<div class="course-box" title="{{summary}}">
    <div class="blocktrainingarchitecture-frontpage-course-box">
        <div class="blocktrainingarchitecture-course-item">
            <div class="blocktrainingarchitecture-course-item-img">
                <a href="{{url}}" style="background-image: url('{{image}}')"></a>                                
            </div>
            <div class="blocktrainingarchitecture-course-content-block">
                <div class="blocktrainingarchitecture-title">
                    <a class="blocktrainingarchitecture-title-a" href="{{url}}">{{name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>