<div class="blocktrainingarchitecture-course-context">
    <a class="blocktrainingarchitecture-blue" href="{{course_url}}">
        {{{actual_course_icon}}}
        {{{course_icon}}}
        {{course_name}}
    </a>
</div>