{{#paths}}
    <div class="path">
        ➤ {{module_name}}
        {{#semester}}
            <div class="path-1">➤ {{semester}}</div>
        {{/semester}}
        <div class="path-2">➤ {{course_name}}</div>
    </div>
{{/paths}}