<div class="blocktrainingarchitecture-course-box" title="{{course_summary}}">
    <div class="blocktrainingarchitecture-frontpage-course-box">
        <div class="blocktrainingarchitecture-course-item">
            <div class="blocktrainingarchitecture-course-item-img">
                <a href="{{course_url}}" style="background-image: url('{{image_url}}')"></a>                                
            </div>
            <div class="blocktrainingarchitecture-course-content-block">
                <div class="blocktrainingarchitecture-title">
                    <a class="blocktrainingarchitecture-title-a" href="{{course_url}}">{{course_name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>