{{#show_wrapper}}
<div class="blocktrainingarchitecture-training-no-courses">
    <div class="blocktrainingarchitecture-row">
        {{{courses_html}}}
    </div>
</div>
{{/show_wrapper}}

{{^show_wrapper}}
{{{courses_html}}}
{{/show_wrapper}}
