{{#courses}}
    <div class="course-box">
        <div class="frontpage-course-box">
            <div class="course-item">
                {{course_html}} 
            </div>
        </div>
    </div>
{{/courses}}