<div class="course-context">
    <a class="blue" href="{{course_url}}">
        {{#actual_course_icon}}{{{actual_course_icon}}}{{/actual_course_icon}}
        {{{icon}}}{{course_name}}
    </a>
</div>