<div class="courses-not-in-architecture">
    <h3>{{#str}}courses_not_in_architecture, block_training_architecture{{/str}}</h3>
    {{#courses}}
        <div class="course-item">
            <a href="{{course_url}}">{{course_name}}</a>
        </div>
    {{/courses}}
</div>
