<div class="{{level_class}}" style="margin-left: {{margin_left}}px;">
    {{level_name}}
    {{#description}}
        <button type="button"
                class="blocktrainingarchitecture-btn-modal-training"
                data-toggle="modal"
                data-target="#descriptionModalLu{{id}}">
            <img class="blocktrainingarchitecture-img-description" src="{{wwwroot}}/blocks/training_architecture/images/description.png" width="20px">
        </button>
    {{/description}}
</div>