<div class="course-box" title="{{summary}}">
    <div class="frontpage-course-box">
        <div class="course-item">
            <div class="course-item-img">
                <a href="{{course_url}}" style="background-image: url('{{image_url}}')"></a>
            </div>
            <div class="course-content-block">
                <div class="title">
                    <a class="title-a" href="{{course_url}}">{{course_name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
