<div class="blocktrainingarchitecture-course-content-block">
    <div class="blocktrainingarchitecture-course-section-block">
        <div class="{{class}}">
            {{semesterlabel}}
        </div>
    </div>
</div>