{{#levels}}
    {{#is_first_level}}
        <div class="{{class}}" style="margin-left: {{margin_left}}px;">
            {{level_name}}
            {{{description_modal}}}
        </div>
    {{/is_first_level}}

    {{{children}}}

    {{#has_courses}}
        <details {{#open}}open{{/open}}>
            <summary class="{{summary_class}}" style="margin-left: {{margin_style_1}}px;">
                {{level_name}}
                {{{description_modal}}}
            </summary>
            <div style="margin-left: {{margin_style_2}}px;">
                {{^is_course_context}}<div class="courses row">{{/is_course_context}}
                    {{{courses_html}}}
                {{^is_course_context}}</div>{{/is_course_context}}
            </div>
        </details>
    {{/has_courses}}
{{/levels}}