<div class="course-content-block">
    <div class="course-section-block">
        <div class="course-section-header-block {{class}}">
            {{{level_name}}}
        </div>
    </div>
    {{{description_modal}}}
</div>