<div class="blocktrainingarchitecture-course-content-block">
    <div class="blocktrainingarchitecture-course-section-block">
        <div class="blocktrainingarchitecture-course-section-header-block {{class}}">
            {{{level_name}}}
        </div>
    </div>
    {{{description_modal}}}
</div>