<div class="course-content-block">
  <div class="course-section-block">
    <div class="{{semester_header.section_header_class}}">{{semester_header.semester_name}}</div>
  </div>
</div>

{{#semester_levels}}
  {{#this}}
    <div class="level-group">
      {{#courses}}
        <div class="course">{{.}}</div>
      {{/courses}}
    </div>
  {{/this}}
{{/semester_levels}}