<div class="course-content-block">
    <div class="course-section-block">
        <div class="{{section_header_class}}">
            {{#str}}semester, block_training_architecture{{/str}} {{semester_id}}
        </div>
    </div>
</div>