<details {{#open}}open{{/open}}>
    <summary class="{{class}}" style="{{margin_style_semester}}">
        {{level_name}}
        {{{description_modal}}}
    </summary>
    <div style="{{margin_style_courses}}">
        {{{content_courses_html}}}
    </div>
</details>