<details{{#open}} open{{/open}}>
    <summary class="{{class}}" {{{margin_style_1}}}>
        {{{level_name}}}
        {{{modal_html}}}
    </summary>
    <div {{{margin_style_2}}}>
        {{{courses_html}}}
    </div>
</details>