<div class="blocktrainingarchitecture-semester-elements">
    <span class="{{span_class}}">{{#str}} view_by_semester, block_training_architecture {{/str}}</span>
    <label class="blocktrainingarchitecture-switch">
        <input id="switch-{{training_id}}" type="checkbox" checked>
        <span class="blocktrainingarchitecture-slider blocktrainingarchitecture-round"></span>
    </label>
</div>