<div class="{{div_class}}">
  <{{header_tag}} class="blocktrainingarchitecture-h-4-5-training">
    {{#str}} training, block_training_architecture {{/str}} {{training_name}} ({{cohort_name}})
  </{{header_tag}}>
</div>