<div class="blocktrainingarchitecture-training-title-elements">
    <{{headertag}} class="blocktrainingarchitecture-h-4-5-training">
        {{#str}}training, block_training_architecture{{/str}} {{trainingname}} ({{cohortname}})
    </{{headertag}}>

    {{#trainingdescription}}
        {{{descriptionmodal}}}
    {{/trainingdescription}}

    {{#issemester}}
        <div class="blocktrainingarchitecture-semester-elements">
            <span>{{#str}}view_by_semester, block_training_architecture{{/str}}</span>
            <label class="blocktrainingarchitecture-switch">
                <input id="switch-{{id}}" type="checkbox" checked>
                <span class="blocktrainingarchitecture-slider blocktrainingarchitecture-round"></span>
            </label>
        </div>
    {{/issemester}}
</div>